
{% extends 'application_layout.html' %}

{% load static %}



{% block body %}


    <div class = "col-md-5 offset-2">
      <h3 class="block-title">Detalle de la reserva n° {{ id }} </h3>

      <form method="post" action="{% url 'delete_reservation' %}" class="reservation-form" >
        {% csrf_token %}

         <div class = "row">
          <div class="col-md-4">
            <label>Nombre usuario: </label>
          </div>
          <div class="col-md-8">
           <h6>   {{ user.get_full_name}} </h6>
          </div>
        </div>

        <div class = "row">
          <div class="col-md-4">
            <label>Fecha inicio: </label>
          </div>
          <div class="col-md-8">
           <h6>   {{ reservation.starting_date_time }} </h6>
          </div>
        </div>

        <div class = "row">
          <div class="col-md-4">
            <label>Fecha Termino: </label>
          </div>
          <div class="col-md-8">
           <h6>   {{ reservation.ending_date_time }} </h6>
          </div>
        </div>

        <div class = "row">
          <div class="col-md-4">
            <label>Estado: </label>
          </div>
          <div class="col-md-8">

           {% if reservation.state == "A" %}
            <span class="badge badge-pill badge-success"><i class="fas fa-chevron-left"></i> Aceptado </span>
          {% elif reservation.state == "P" %}
            <span class="badge badge-pill badge-primary"><i class="fas fa-chevron-left"></i> Pendiente </span>
          {% elif reservation.state == "R" %}
            <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> Rechazado </span>
          {% endif %}

          </div>
        </div>

        <div class = "row">
           <input class="delete-button" type="submit"   value="Eliminar Reserva">
          <input id="reservation-{{ reservation.id }}" name="reservation" type="hidden"
                                                    value="{{ reservation.id }}">

        </div>
      </form>








          <h3 class="block-title"> Detalles del artículo</h3>

      <form   class="reservation-form">
       <div class="row">
         <h3>{{ article.name }}</h3>
         <h5>
        {% if article.state == "D" %}
            <span class="badge badge-pill badge-success"><i class="fas fa-chevron-left"></i> {{  article.get_state_display }}</span>
          {% elif article.state == "P" %}
            <span class="badge badge-pill badge-primary"><i class="fas fa-chevron-left"></i> {{  article.get_state_display }}</span>
          {% elif article.state == "L" %}
            <span class="badge badge-pill badge-danger"><i class="fas fa-chevron-left"></i> {{  article.get_state_display }}</span>
          {% elif article.state == "R" %}
            <span class="badge badge-pill badge-warning"><i class="fas fa-chevron-left"></i> {{  article.get_state_display }}</span>
          {% endif %}
         </h5>
       </div>


        <div class = "row">
          {% if article.image %}
            <img src= " {% static article.image.url %}" class="img-fluid" alt="Foto" style="height: 400px" />
        {% else %}
            <img class="card-img-top" src="{% static 'img/items/default_article.jpg' %}" alt="Card image cap">
        {% endif %}
          </div>


        <div class = "row">
           <div class="col-md-4">
            <label>Descripción: </label>
          </div>
          <div class="col-md-8">
          {{ article.description }}
          </div>


        </div>






      </form>


    </div>

  </div>
</div>
{% endblock %}
