{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'mainApp/css/schedule_reset.css' %}"> <!-- CSS reset -->
</head>
<div class="cd-schedule loading">
    <div class="timeline" id="timeline">
        <ul>
            <li><span>09:00</span></li>
            <li><span>09:30</span></li>
            <li><span>10:00</span></li>
            <li><span>10:30</span></li>
            <li><span>11:00</span></li>
            <li><span>11:30</span></li>
            <li><span>12:00</span></li>
            <li><span>12:30</span></li>
            <li><span>13:00</span></li>
            <li><span>13:30</span></li>
            <li><span>14:00</span></li>
            <li><span>14:30</span></li>
            <li><span>15:00</span></li>
            <li><span>15:30</span></li>
            <li><span>16:00</span></li>
            <li><span>16:30</span></li>
            <li><span>17:00</span></li>
            <li><span>17:30</span></li>
            <li><span>18:00</span></li>
        </ul>
    </div> <!-- .timeline -->
    <div id="line-container" class="line-container">
        <div id="line" class="clock"></div>
        <div class="message" id="message"></div>
    </div>
    <div class="events" id="events">
        <ul>
            <li class="events-group" data-toggle="modal" data-target="#reservaModal" data-day="0">
                <div class="top-info"><span>Lunes</span></div>

                <ul>
                    {% for r in reservations.0 %}

                        <li class="single-event reserv_space{{ r.4 }}"" data-start="{{ r.1 }}" data-end="{{ r.2 }}"
                        bgcolor="{{ r.3 }}">
                        <a href="">
                            <em class="event-name">{{ r.0 }}</em>
                        </a>
                        </li>

                    {% endfor %}

                </ul>
            </li>

            <li class="events-group" data-toggle="modal" data-target="#reservaModal" data-day="1">
                <div class="top-info"><span>Martes</span></div>

                <ul>

                    {% for r in reservations.1 %}

                        <li class="single-event reserv_space{{ r.4 }}"" data-start="{{ r.1 }}" data-end="{{ r.2 }}"
                        bgcolor="{{ r.3 }}">
                        <a href="">
                            <em class="event-name">{{ r.0 }}</em>
                        </a>
                        </li>

                    {% endfor %}
                </ul>
            </li>

            <li class="events-group" data-toggle="modal" data-target="#reservaModal" data-day="2">
                <div class="top-info"><span>Miércoles</span></div>

                <ul>
                    {% for r in reservations.2 %}

                        <li class="single-event reserv_space{{ r.4 }}"" data-start="{{ r.1 }}" data-end="{{ r.2 }}"
                        bgcolor="{{ r.3 }}">
                        <a href="">
                            <em class="event-name">{{ r.0 }}</em>
                        </a>
                        </li>

                    {% endfor %}
                </ul>
            </li>

            <li class="events-group" data-toggle="modal" data-target="#reservaModal" data-day="3">
                <div class="top-info"><span>Jueves</span></div>

                <ul>
                    {% for r in reservations.3 %}

                        <li class="single-event reserv_space{{ r.4 }}"" data-start="{{ r.1 }}" data-end="{{ r.2 }}"
                        bgcolor="{{ r.3 }}">
                        <a href="">
                            <em class="event-name">{{ r.0 }}</em>
                        </a>
                        </li>

                    {% endfor %}
                </ul>
            </li>

            <li class="events-group" data-toggle="modal" data-target="#reservaModal" data-day="4">
                <div class="top-info"><span>Viernes</span></div>

                <ul>
                    {% for r in reservations.4 %}

                        <li class="single-event reserv_space{{ r.4 }}"" data-start="{{ r.1 }}" data-end="{{ r.2 }}"
                        bgcolor="{{ r.3 }}">
                        <a href="">
                            <em class="event-name">{{ r.0 }}</em>
                        </a>
                        </li>

                    {% endfor %}
                </ul>
            </li>
        </ul>

    </div>


    <div class="week-select" id="week-select">
        <div style="text-align: center; margin-right: auto; margin-left: auto; width: 200px; font-size: 18px">
            <form action="" method="get" class="selectform">
                <a href="?date={{ controls.0 }}" role="button"><i class="fas fa-angle-double-left grilla_icons"></i></a>
            </form>
            <form action="" method="get" class="selectform">
                <a href="?date={{ controls.1 }}" role="button"><i class="fas fa-angle-left grilla_icons"></i></a>
            </form>
            <form action="" method="get" class="selectform">
                <a href="?date={{ controls.2 }}" role="button"><i class="fas fa-angle-right grilla_icons"></i></a>
            </form>
            <form action="" method="get" class="selectform">
                <a href="?date={{ controls.3 }}" role="button"><i
                        class="fas fa-angle-double-right grilla_icons"></i></a>
            </form>
        </div>

    </div>

    <div class="event-modal">
        <header class="header">
            <div class="content">
                <span class="event-date"></span>
                <h3 class="event-name"></h3>
            </div>

            <div class="header-bg"></div>
        </header>

        <div class="body">
            <div class="event-info"></div>
            <div class="body-bg"></div>
        </div>

        <a href="#0" class="close">Close</a>
    </div>

    <div class="cover-layer"></div>
</div> <!-- .cd-schedule -->

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-9">
        <div class="row" style="height: 30%"></div>
        <div class="d-flex justify-content-around">
            {% for space in spaces %}
                <button type="button" class="btn btn-outline-primary" id="space{{ space.id }}"
                        onclick="change_button_type('space{{ space.id }}')">{{ space }}</button>
            {% endfor %}
            <script>
                function change_button_type(id_filtro) {
                    $('#' + id_filtro).toggleClass("btn-outline-primary").toggleClass("btn-primary");
                    toogle_opacity('reserv_' + id_filtro)
                }

                function toogle_opacity(id_filtro) {
                    $('.' + id_filtro).css("opacity", Math.abs(1 - $('.' + id_filtro).css("opacity")).toString());
                }
            </script>
        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<script src="{% static 'js/modernizr.js' %}"></script>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script> <!-- Resource jQuery -->

<!-- Modal -->
<div class="modal fade" id="reservaModal" tabindex="-1" role="dialog" aria-labelledby="reservaModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservaModalLabel">Reserva un Espacio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="POST" action=".">{% csrf_token %}

                    <div class="form-group">
                        <input type="hidden" id="dia_seleccionado" name="day">
                    </div>

                    <div class="form-group">
                        <input type="hidden" id="mail_usuario" name="day">
                    </div>

                    <div class="form-group">
                        <label for="espacio_reserv">Selecciona un Espacio:</label>
                        <select class="form-control" id="espacio_reserv">
                            {% for space in spaces %}
                                <option>{{ space.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="reserv_hora_ini">Hora de Inicio:</label>
                        <small id="Time help" class="form-text text-muted">La hora seleccionada debe estar entre las
                            9:00 y las 17:59. Puedes editar este campo como un campo de texto.
                        </small>
                        <input type="time" class="form-control" id="reserv_hora_ini" name="reserv_ini" min="09:00"
                               max="17:59" value="12:00">
                    </div>

                    <div class="form-group">
                        <label for="reserv_hora_fin">Hora de Término:</label>
                        <small id="Time help" class="form-text text-muted">La hora seleccionada debe estar entre las
                            9:01 y las 18:00. Puedes editar este campo como un campo de texto.
                        </small>
                        <input type="time" class="form-control" id="reserv_hora_fin" name="reserv_fin" min="09:01"
                               max="18:00" value="14:00">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Reservar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script src="{% static 'mainApp/js/schedule_form.js' %}"></script>